<form [formGroup]="myForm">
  <div class="form-group limit-input">
    <label>Отобразить по:</label>
    <div class="form-check">
      <input type="radio" class="form-check-input" formControlName="limit" value="3">
      <label class="form-check-label">3</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" formControlName="limit" value="5">
      <label class="form-check-label">5</label>
    </div>
    <div class="form-check">
      <input type="radio" class="form-check-input" formControlName="limit" value="10">
      <label class="form-check-label">10</label>
    </div>
  </div>

  <div class="form-group">
    <label for="select">Компания:</label>
    <!-- Для множественного выбора можно добавить атрибут multiple в теге select -->
    <select class="form-control" formControlName="company">
      <option *ngFor="let user of users" [value]="user.company.name">{{user.company.name}}</option>

    </select>
    <button (click)="companyReset()"  >Сбросить</button>
  </div>

</form>
